/********************class selectors*******************/
body {
  /***font-family: 'Ubuntu', sans-serif;**/
  font-family: "Montserrat";
}

h1 {
  font-family: 'Montserrat-black';
  font-size: 3.5rem;
  line-height: 1;
  font-weight: bold;
}
h3{
  font-family: 'Montserrat-bold';
  font-weight: bold;}
h2{
  font-weight: bold;
  font-family: 'Montserrat-bold';
  line-height: 1.5;
  font-size: 3rem;
}

p{
  color: #8f8f8f;
}

/**********************class tags***********************/
.container-fluid {
  padding: 3% 10%;
}

.btn {
  color: white;
  border-radius: 0;
  display: inline-block;
  border: 1px solid;
}

.btn-outlined-light {
  border: 1px solid;
}

.btn-outlined-light:hover {
  background-color: white;
}

/* navigation bar */
.navbar {
  padding-bottom: 72px;
  padding-left: 0;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

/* download buttons */
.btn{
  margin-top: 7px;}
.col-lg-6{
  width: 90%;
  display: inline-block;
}




/* title image */
.iphone {
  transform: rotate(15deg);
  width: 300px;
  padding-left: 80px;
  padding-top: 20px;
  margin-left: 0;
  padding-bottom: 20px;
  height: 740px;
}

/* section Features */

.row-features{
  text-align: center;}
.fas{
  padding: 0 100px;}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
 /* testimonial section */
 .dog{
   border-radius: 100%;
   margin-top: 10px;
   width:10%;}
 .testimonial-text{
   margin-top: 15px;
 }
 /* press-section */

.img-press{
  width: 15%;
  margin: 20px 20px 50px;
}


/**********************id selectors*********************/
#title {
  background-color: #ff4c68;
  color: #fff;

}
/* features section */
#features{
  padding: 7% 13%;
}
/* tesstimonials sections */
#testimonials{
  padding: 7% 13%;
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}
#press{
  background-color:#ef8172;
  padding: 7% 13%;
  text-align: center;
}
